html,
body {
    background: #fffbf1;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: 'Newsreader', serif;
    font-size: 16px;
    color: #3d4549;
}

@media screen and (max-width: 800px) {
    html,
    body {
        font-size: 16px;
    }
}

h1 {
    font-size: 3rem;
    line-height: 1.25;
    font-weight: 400;
}

h3 {
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 400;
}

h4 {
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
}

a {
    color: #c65a60;
}

* {
    box-sizing: border-box;
}

.button {
    position: relative;
    display: inline-block;
    background: #fffbf1;
    border: #fffbf1 solid 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    transition: all linear 0.15s;
    box-shadow: 0 0.125rem 0.25rem rgba(80, 111, 152, 0.4);
}

.button:hover {
    box-shadow: 0 0.25rem 0.5rem rgba(80, 111, 152, 0.4);
}

.button:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: #c65a60 solid 1px;
}

/* Page Styles */

.page {
    width: 100vw;
    min-height: 100vh;
}

.page__body {
    background: white;
    position: relative;
    min-height: 100vh;
    flex: 1;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.2);
    box-sizing: margin-box;
    overflow: auto;
    padding-top: 4.25rem;
}

@media screen and (max-width: 800px) {
    .page__body {
        padding-top: 0;
        min-height: 100vh;
    }
}

.footer {
    height: 14rem;
    display: flex;
    flex-direction: column;
}

.footer__body {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

.footer__menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__menu-item {
    margin: 1rem 2rem;
}

.footer__social-icon {
    margin-right: 1rem;
}

.footer__bottom {
    width: 100%;
    background: #fbf5e8;
}

.footer__legal-text {
    font-size: 0.75rem;
    text-align: center;
    margin: 1rem 2rem;
}

/* MOBILE NAV MENU */
.logo-link--mobile {
    background: #fffbf1;
    position: absolute;
    top: 0;
    left: 0.5rem;
    padding: 0.25rem;
    z-index: 100;
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.4);
}

.logo-link--desktop {
    background: #fffbf1;
    position: absolute;
    top: 0;
    left: 2rem;
    padding: 0.25rem;
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.4);
}

.logo--mobile,
.logo--desktop {
    display: block;
}

.menu__button {
    display: block;
    position: absolute;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.navbar--desktop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-align: right;
    font-size: 1.25rem;
    font-weight: 400;
    z-index: 100;
}

.navbar__list--desktop {
    list-style: none;
    padding: 1.5rem 2rem;
    margin: 0;
    background: white;
    box-shadow: 0 0.25rem 0.5rem rgba(80, 111, 152, 0.3);
}

.navbar__list-container--mobile {
    position: fixed;
    z-index: 90;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    transition: opacity linear 0.2s;
}

.navbar__list--mobile {
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
}

.navbar__item {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.navbar__link {
    padding: 0 1rem;
    text-decoration: none;
    color: #3d4549;
    transition: color linear 0.1s;
}
@media screen and (max-width: 800px) {
    .navbar__link {
        color: white;
    }
}

.navbar__link:hover {
    padding: 0 1rem;
    color: #c65a60;
}

.navbar__link--active {
    font-style: italic;
    color: #c65a60;
}

@media screen and (max-width: 800px) {
    .navbar--desktop {
        display: none;
    }
}

@media screen and (min-width: 801px) {
    .navbar--mobile {
        display: none;
    }
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
}

.hero__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    background: rgba(198, 90, 98, 0.8);
}

.hero__content {
    width: 100%;
}

.hero__title {
    position: relative;
    width: 60rem;
    max-width: 60%;
    margin: 0 auto;
    color: white;
}

@media screen and (max-width: 800px) {
    .hero__title {
        font-size: 2rem;
    }
}

.imagelist__item {
    width: 60rem;
    max-width: 90%;
    margin: 4rem auto;
    display: flex;
    flex-direction: row;
}

.imagelist__image img {
    background: white;
    width: 20rem;
    height: auto;
    padding: 1rem;
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.2);
}

.imagelist__text {
    flex: 1;
    padding: 0 2rem;
}

@media screen and (max-width: 800px) {
    .imagelist__item {
        flex-direction: column;
    }

    .imagelist__image img {
        width: 100%;
    }

    .imagelist__text {
        width: 100%;
    }
}

.pingpong {
    width: 60rem;
    max-width: 90%;
    margin: 6rem auto;
    display: flex;
    align-items: center;
}

.pingpong--left {
    flex-direction: row;
}

.pingpong--right {
    flex-direction: row-reverse;
}

.pingpong__image {
    flex: 1;
}

.pingpong__image img {
    background: white;
    width: 100%;
    height: auto;
    padding: 1rem;
    box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.2);
}

.pingpong__text {
    flex: 1;
    text-align: center;
}

.pingpong--left .pingpong__text {
    padding-left: 6rem;
}

.pingpong--right .pingpong__text {
    padding-right: 6rem;
}

@media screen and (max-width: 800px) {
    .pingpong {
        flex-direction: column;
        margin: 2rem auto 6rem;
    }

    .pingpong__image img {
        width: 100%;
    }

    .pingpong__text {
        width: 100%;
    }

    .pingpong--left .pingpong__text,
    .pingpong--right .pingpong__text {
        padding: 0;
    }
}

.bumper {
    width: 60rem;
    max-width: 90%;
    margin: 6rem auto;
    text-align: center;
}
